@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Forgot password confirmation";
}

<h2 class="container text-center">@ViewData["Title"]</h2>
<h3 class="container text-center">
    Please check your email to reset your password.
</h3>

