@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}

<div class="row">
    <div class="col-md">
        <section>
            <form id="account" method="post">
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <h3><label asp-for="Input.Email"></label></h3>
                    <input asp-for="Input.Email" class="form-control" />
                </div>
                <div class="form-group">
                    <h3><label asp-for="Input.Password"></label></h3>
                    <input asp-for="Input.Password" class="form-control" />
                </div>
                <div class="form-group">
                    <div class="checkbox">
                        <h4>
                            <label asp-for="Input.RememberMe">
                                <input asp-for="Input.RememberMe" />
                                @Html.DisplayNameFor(m => m.Input.RememberMe)
                            </label>
                        </h4>
                    </div>
                </div>
                <div class="form-group" style="margin:0px;">
                    <button type="submit" class="btn btn-warning">Log in</button>
                </div>
                <div class="form-group">
                    <h4>
                        <a id="forgot-password" asp-page="./ForgotPassword">Forgot your password?</a>
                    </h4>
                </div>
            </form>
        </section>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
