@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Register confirmation";
}

<h2 class="container text-center">@ViewData["Title"]</h2>
@{
    if (@Model.DisplayConfirmAccountLink)
    {
<h3 class="container text-center">
    This app does not currently have a real email sender registered yet.
    Normally this would be emailed: <a id="confirm-link" href="@Model.EmailConfirmationUrl" style="color:red;">Click HERE to confirm your account</a>
</h3>
    }
    else
    {
<h3 class="container text-center">
        Please check your email to confirm your account.
</h3>
    }
}

