@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}

<div class="row">
    <div class="col-md">
        <form asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <h3><label asp-for="Input.UserName"></label></h3>
                <input asp-for="Input.UserName" class="form-control" />
            </div>
            <div class="form-group">
                <h3><label asp-for="Input.Email"></label></h3>
                <input asp-for="Input.Email" class="form-control" />
            </div>
            <div class="form-group">
                <h3><label asp-for="Input.Password"></label></h3>
                <input asp-for="Input.Password" class="form-control" />
            </div>
            <div class="form-group">
                <h3><label asp-for="Input.ConfirmPassword"></label></h3>
                <input asp-for="Input.ConfirmPassword" class="form-control" />
            </div>
            <button type="submit" class="btn btn-warning">Register</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
