<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Familiada</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/index.css" />
</head>
<body>

    <div class="container familiada-font" style="height:100vh; width:100vh;">
        <div class="row align-items-center" style="height:100%; width:100%;">
            <div class="container border align-items-start justify-content-center" 
                 style="height:60%; width:100%; min-height:500px; min-width:680px; background-color:black; outline:4vh; outline-style:ridge; outline-color:orange;">
                <div class="container" style="margin-top:12px;">
                    <div class="row">
                        <div class="col-sm text-left">
                            <h4><a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">Back</a></h4>
                        </div>
                        <div class="col-sm">
                            <partial name="_LoginPartial" />
                        </div>
                    </div>
                </div>
                <div class="row align-items-center justify-content-center familiada-font" style="margin-left:12px; margin-right: 12px;">
                    @RenderBody()
                </div>
            </div>
        </div>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>





