@{
   ViewData["Title"] = "Achievements";
}

<h1 class="container text-center">@ViewData["Title"]</h1>
<h2 class="container text-center">On this page You will be able to see Your earned achievements</h2>


