@{
   ViewData["Title"] = "Achievements";
}
<link rel="stylesheet" href="~/css/index.css" />

<h1 class="container text-center">@ViewData["Title"]</h1>
<h2 class="container text-center">Work in progress</h2>


