@{
   ViewData["Title"] = "Credits";
}
<link rel="stylesheet" href="~/css/index.css" />

<h1 class="container text-center">@ViewData["Title"]</h1>
<h2 class="container text-center">Frontend : Mateusz Jacenty</h2>
<h2 class="container text-center">Backend : Mateusz Jacenty</h2>
<h2 class="container text-center">Devops : Mateusz Jacenty</h2>
<h2 class="container text-center">Tester : Mateusz Jacenty</h2>

