@{
   ViewData["Title"] = "Credits";
}

<h1 class="container text-center">@ViewData["Title"]</h1>
<h2 class="container text-center">This site was created by Mateusz Jacenty.
    If You want to check out my other projects visit my <a href="https://github.com/Huszan" style="color:red;">Github</a> 
    and <a href="https://bitbucket.org/Huszan/" style="color:red;">Bitbucket</a> accounts</h2>

