
<h1 class="familiada-font-big container text-center">FAMILIADA</h1>
<h2>
    <a class="container text-center nav-link" asp-area="" asp-controller="Game" asp-action="Index">Games</a>
    <a class="container text-center nav-link" asp-area="" asp-controller="Question" asp-action="Index">Questions</a>
    <a class="container text-center nav-link" asp-area="" asp-controller="Answer" asp-action="Index">Answers</a>
</h2>
