@{
    ViewData["Title"] = "Home Page";
}
<link rel="stylesheet" href="~/css/index.css" />

<div class="familiada-font-big container text-center">FAMILIADA</div>
<a class="familiada-font container text-center nav-link" asp-area="" asp-controller="Home" asp-action="Index">Start Game</a>
<a class="familiada-font container text-center nav-link" asp-area="" asp-controller="Home" asp-action="Index">Continue Game</a>
<a class="familiada-font container text-center nav-link" asp-area="" asp-controller="Home" asp-action="Achievements">Achievements</a>
<a class="familiada-font container text-center nav-link" asp-area="" asp-controller="Home" asp-action="Credits">Credits</a>
