@{
    ViewData["Title"] = "Home Page";
}
@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<h1 class="familiada-font-big container text-center">FAMILIADA</h1>
<h2>
    @if (SignInManager.IsSignedIn(User))
    {
        <a class="container text-center nav-link" asp-area="" asp-controller="Home" asp-action="Index">Play</a>
        <a class="container text-center nav-link" asp-area="" asp-controller="Home" asp-action="Statistics">Statistics</a>
        <a class="container text-center nav-link" asp-area="" asp-controller="Home" asp-action="Achievements">Achievements</a>
        <a class="container text-center nav-link" asp-area="" asp-controller="Home" asp-action="Credits">Credits</a>
        if (User.IsInRole("Administrator"))
        {
            <a class="container text-center nav-link" asp-area="" asp-controller="Home" asp-action="CRUD">Admin Panel</a>
        }
    }
    else
    {
        <a class="container text-center nav-link" style="color:darkgray">Play</a>
        <a class="container text-center nav-link" style="color:darkgray">Statistics</a>
        <a class="container text-center nav-link" style="color:darkgray">Achievements</a>
        <a class="container text-center nav-link" asp-area="" asp-controller="Home" asp-action="Credits">Credits</a>
    }
</h2>
