@{
    ViewData["Title"] = "Home Page";
}
<link rel="stylesheet" href="~/css/index.css" />

<div class="familiada-font-big container text-center">FAMILIADA</div>
<a href="#" class="familiada-font container text-center">Start Game</a>
<a href="#" class="familiada-font container text-center">Account Settings</a>
<a href="#" class="familiada-font container text-center">Achievements</a>
