@{
    ViewData["Title"] = "Statistics";
}
<link rel="stylesheet" href="~/css/index.css" />

<h1 class="container text-center">@ViewData["Title"]</h1>
<h3 class="container text-center">On this page You will be able to see Your statistics from previous games</h3>
<h2 class="container text-center">Total games played : </h2>
<h2 class="container text-center">Total points scored : </h2>
<h2 class="container text-center">Highscore : </h2>


