
body {
}

@font-face {
    font-family: 'familiadaFont';
    src: url('BPdots.otf');
}

a {
    color: orange;
}
h1 {
    font-size: 600%;
}
h2 {
    font-size: 350%;
}
h3 {
    font-size: 250%;
}
h4 {
    font-size: 150%;
}

.familiada-font {
    font-family: 'familiadaFont';
    color: orange;
    font-size: 12px;
}

.nav-link > .active > a {
    color: green;
    background-color: chartreuse;
}

a:hover {
    color: orangered;
}

