body {
}

@font-face {
    font-family: 'familiadaFont';
    src: url('BPdots.otf');
}

a {
    color: orange;
}
.familiada-font-big {
    font-family: 'familiadaFont';
    color: orange;
    font-size: 80px;
}
.familiada-font-small {
    font-family: 'familiadaFont';
    color: orange;
    font-size: 20px;
}
.familiada-font {
    font-family: 'familiadaFont';
    color: orange;
    font-size: 40px;
}
